/* src/components/Aside/Aside.module.css */

.aside {
  width: 250px; 
  background-color: #F4F4F4; 
  height: 92vh; 
  position: sticky; 
  top: 0; 
  padding: 0;
  margin: 0;
}

.menuList {
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

.menuList li {
  margin: 0;
  padding: 0.5rem 0;
  height: 55px;
  display: flex;
  align-items: center;
}

.menuList li:hover {
  background-color: #D9D9D9;
}

.menuList a {
  text-decoration: none; 
  color: #404040; 
  transition: color 0.3s; 
  display: flex;
  align-items: center;
  padding: 0 16px;
  width: 100%;
  box-sizing: border-box;
}

/* Estilo para o item ativo */
.active {
  border-left: 4px solid #FFCF78; /* Border left da cor especificada */
  background-color: #D9D9D9; /* Opcional: cor de fundo para o item ativo */
}

.icon {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
