.content {
  width: 100vw; /* Ocupa 100% da largura da viewport */
  height: 92vh; /* Ocupa 92% da altura da viewport */
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  display: flex;
  flex-direction: column; /* Alinha filhos verticalmente */
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinha ao topo do container */
  height: calc(100vh - 80px); /* Ajusta altura do container, subtraindo a altura da header */
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap; /* Permite que os elementos se ajustem ao espaço */
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin: 20px auto;
  width: 100%; /* Faz o wrapper ocupar a largura do container */
  max-width: 600px; /* Limita a largura máxima */
  box-sizing: border-box;
}

.chartTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

.chartBox {
  width: 100%; /* Ajusta a largura do gráfico para ocupar toda a largura do wrapper */
  height: 300px; /* Altura ajustada para os gráficos */
  max-width: 500px; /* Limita o tamanho máximo do gráfico */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Alinha os gráficos verticalmente em telas menores */
    height: auto;
  }

  .chartBox {
    width: 100%; /* Ajusta o gráfico para ocupar toda a largura disponível */
    height: 250px; /* Ajusta a altura do gráfico em telas menores */
  }

  .wrapper {
    width: 100%; /* Garante que o wrapper ocupe toda a largura da tela em dispositivos pequenos */
  }

  .chartTitle {
    font-size: 1.2rem; /* Diminui o tamanho do título em telas pequenas */
  }
}
