.content {
  flex: 1; 
  background-color: #ffffff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  height: 92vh; 
  overflow-y: auto;
}

.title {
  font-size: 2rem; 
  margin-bottom: 1rem; 
}

.description {
  font-size: 1rem; 
  margin-bottom: 1.5rem; 
}

.button {
  background-color: #007bff; 
  color: white; 
  border: none; 
  padding: 0.5rem 1rem; 
  border-radius: 0.25rem; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.button:hover {
  background-color: #0056b3; 
}

.barraPesquisa{
  width: 90%;
  margin-left: 40px;
}
.buttonPesquisar{
  background-color: #2D220A;
  margin-left: 8px;
}

.divInfosFunc{
  width: 95%;
  height: auto; 
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
  border-radius: 10px; 
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.headerCell {
  background-color: #FFCF78 !important;;
}