.content {
  flex: 1; 
  background-color: #ffffff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  height: 92vh; 
  overflow-y: auto;
}

.title {
  font-size: 2rem; 
  margin-bottom: 1rem; 
}

.description {
  font-size: 1rem; 
  margin-bottom: 1.5rem; 
}

.button {
  background-color: #007bff; 
  color: white; 
  border: none; 
  padding: 0.5rem 1rem; 
  border-radius: 0.25rem; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.button:hover {
  background-color: #0056b3; 
}

.barraPesquisa{
  width: 95.2%;
  margin-left: 40px;
}

.buttonPesquisar {
  display: flex; /* Garante alinhamento do ícone dentro do botão */
  justify-content: center; /* Centraliza o ícone horizontalmente */
  align-items: center; /* Centraliza o ícone verticalmente */
  padding: 0.5rem 1rem; /* Ajusta o espaçamento interno do botão */
  background-color: #b6babd; /* Cor de fundo do botão */
  border: none; /* Remove bordas padrão */
  color: #fff; /* Cor do ícone (branco) */
  font-size: 1rem; /* Tamanho da fonte e ícone */
  border-radius: 0 0.25rem 0.25rem 0; /* Ajusta os cantos arredondados apenas no lado direito */
  transition: background-color 0.3s ease; /* Adiciona animação ao passar o mouse */
  cursor: pointer; /* Muda o cursor para indicar clicável */
}

.buttonPesquisar:hover {
  background-color: #5a6268; /* Cor ao passar o mouse */
}

.buttonPesquisar i {
  margin-left: 0; /* Garante que o ícone fique centralizado */
}



.divInfosFunc{
  width: 95%;
  height: auto; 
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
  border-radius: 10px; 
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.headerCell {
  background-color: #FFCF78 !important;
  text-align: center;
  font-size: 16px;
  vertical-align: middle;
}

.divModal {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 15px;
  margin-left: 14px;
  margin-right: 14px;
}

.label{
  font-weight: bold;
}

.labelCustom {
  display: inline-block; /* Mantém o layout adequado para controle de tamanho */
  width: 460px; /* Ajuste o valor para o tamanho desejado */
  font-weight: bold;
}