.content {
  flex: 1;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 92vh;
  overflow-y: auto;
  padding: 1rem;
  box-sizing: border-box;
}

.indicators {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  flex-wrap: wrap;
}

.indicatorCard {
  flex: 1;
  background-color: #f5c97b;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  color: #333;
  min-width: 180px;
  box-sizing: border-box;
}

.indicatorCard h3 {
  font-size: 1.5rem;
  color: #333;
}

.indicatorCard > p,
.indicatorCard > h3 {
  margin: 0;
}

.doughnutCharts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.chartContainer {
  width: 220px;  /* Tamanho ajustado para gráficos mais visíveis */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 180px;
}

.chart {
  width: 100% !important;
  height: 220px !important; /* Aumentar altura para melhorar visualização */
  max-width: 220px !important;
  margin-bottom: 1rem;
}

.chartContainer h4 {
  font-size: 0.9rem;  /* Font-size ajustado */
  color: #333;
  margin: 0;
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
  .content {
    padding: 0.5rem;
  }

  .doughnutCharts {
    gap: 1rem;
  }

  .chartContainer {
    width: 160px; /* Tamanho ajustado */
  }

  .chart {
    height: 180px !important; /* Ajustar altura para telas menores */
    max-width: 180px !important;
  }

  .chartContainer h4 {
    font-size: 0.8rem;  /* Font-size ajustado */
  }

  .barPieCharts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .chartb {
    width: 100% !important;
    height: 180px !important;
    max-width: 180px !important;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .indicators {
    margin-left: 5%;
    margin-right: 5%;
  }

  .indicatorCard {
    min-width: 120px;
    flex: 1;
  }

  .chartContainer {
    width: 120px;
  }

  .chart {
    height: 120px !important;
    max-width: 120px !important;
  }

  .chartContainer h4 {
    font-size: 0.6rem;
  }

  .barPieCharts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .chartb {
    width: 100% !important;
    height: 120px !important;
    max-width: 120px !important;
    margin-bottom: 1rem;
  }

  .chartContainer h4 {
    font-size: 0.6rem;
  }
}

/* Para telas pequenas com largura inferior a 456px */
@media (max-width: 456px) {
  .barPieCharts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .chartb {
    width: 100% !important;
    height: 120px !important;
    max-width: 120px !important;
    margin-bottom: 1rem;
  }

  .chartContainer h4 {
    font-size: 0.6rem;
  }
}

.barPieCharts {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.chartb {
  width: 100% !important;
  height: 220px !important; /* Ajuste de altura para gráficos de barra */
  max-width: 220px !important;
  margin-bottom: 1rem;
}

.chartContainer h4 {
  font-size: 0.9rem;  /* Font-size ajustado */
  color: #333;
  margin: 0;
}

.divTabela{
  margin-top: 110px;
}

.divCorpoTabela{
    width: 95%;
    height: auto; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    border-radius: 10px; 
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.headerCell {
  background-color: #FFCF78 !important;;
}